<div>
  <h6>Play games with awesome people just like you. Join up, meet new people, and start having fun. Free!</h6>
  <div>
    <input type='text' placeholder='All Games' ng-model='search.gameType'>
    in: <input type='text' placeholder='San Francisco, Ca (TODO)'>
    <button>search</button>
  </div>
  <div>
    MAP GOES HERE
  </div>
  <div>
    <!-- <button ng-click='retreiveGames()'>click</button> -->

    Filter Games By: <input type='text' ng-model='search.gameDate' placeholder='Date'>
    <span>Players needed (TODO)</span>
      <table>
      <thead>
        <tr>
          <th ng-repeat='header in headers'>{{ header }}
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat='games in game | filter:search:strict'>
        <td>{{ games.gameName }}</td>
        <td>{{ games.gameType }}</td>
        <td>{{ games.gameDescription }}</td>
        <td>{{ games.gameDate | date:'yyyy-MM-dd' }}</td>
        <td>{{ games.gameTime }}</td>
        <td>{{ games.minimumPlayers }}</td>
        <td>{{ games.playerLimit }}</td>
        <td>{{ games.invitedPlayers }}</td>
        </tr>
      </tbody>
      </table>
    </div>
<div>
