<div class="intro-strip">
  <div class="row">
    <div class="small-12 columns">
      <h1>
        Play games with awesome people just like you. Join up, meet new people, and start having fun. Free!
      </h1>
    </div>
  </div>
</div>
<div class="homepage top-filter-bar">
  <div class="row">
    <form>
      <div class="small-12 columns show-for-small show-me">
        Show me:
      </div>
      <div class="small-12 large-5 columns game-type-container">
      <input type='text' placeholder='All Games' ng-model='search.gameType'>
      </div>
      <div class="large-1 columns in hide-for-small">
        in
      </div>
      <div class="small-12 columns located-in show-for-small">
        Located in:
      </div>
      <div class="small-9 large-5 columns location">
        <input type='text' placeholder='San Francisco, Ca (TODO)'>
      </div>
      <div class="small-3 large-1 columns search">
        <input type="submit" value="M" />
      </div>
    </form>
  </div>
</div>


<div class="google-map"></div>

<div class="row hide-for-small sub-filter-bar">
  <div class="small-12 columns">
    <div class="option filter-by">
      <span>Filter Games By:</span>
    </div>
    <div class="option date"> 
      <input type='text' class="datepicker" ng-model='search.gameDate' placeholder='Date'>
    </div>
    <div class="option players-needed">
      <input class="checkbox" type="checkbox" /> 
      <span>Players Needed (TODO)</span>
    </div>
  </div>
</div>

<div class="row mobile-sub-filter hide-for-medium hide-for-large hide-for-xlarge">
  <div class="small-12 columns">
    <a class="button medium teal filter-games" href="#">Filter Games (2)</a>
  </div>
</div>


    <div class="game-tiles js-masonry"
          data-masonry-options='{ "columnWidth": 292, "itemSelector": ".item", "gutter": 20 }'>
<!-- 
          <span ng-repeat='header in headers'>{{ header }}</span> -->

<!--         <ul> -->
            <!-- <li ng-repeat='games in game | filter:search:strict'> -->
              <div class="item" ng-repeat="games in game | filter:search:strict | filter:filterOrg" ng-click='selectGame(games, $index)'>
                    <!-- <a ui-sref="#"> -->
                    <img src="style/img/sample-940x940.jpg" alt="#" />
                      <div class="caption">
                      <h2 class="hide-for-small">{{ games.gameName }}</h2>
                      <h1>{{ games.gameDescription }}</h1>
                      <time datetime="2009-11-13T20:00Z">
                        <span class="hide-for-medium hide-for-large hide-for-xlarge">
                          {{ games.gameDate | date:'yyyy-MM-dd' }} {{ games.gameTime }}
                        </span>
                      </time>
                    </div>
                    </a>
                </div>
              </div>

