
<form class="open-recess-form">
  
  <div class="row">
    <div class="small-12 large-6 columns">
      <div class="form-label">What kind of game?</div>
      <select class="game-type chosen-select" ng-options="sport for sport in sports" ng-model="game.type" required>
        <option value="">All Games</option>
      </select>
    </div>
    <div class="small-12  large-6 columns">
      <div class="form-label">Give it a catchy title</div>
      <input class = 'sanitize' type="text" name="name" ng-model="game.name" required>
    </div>
  </div>
  
  <div class="row">
    <div class="small-12 columns">
      <div class="form-label">Give it an exciting description:</div>
      <textarea type="text" name="desc" ng-model="game.desc" required></textarea>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <div class="form-label">Where is it? Click the map to drop a pin.</div>
      <div class="small-12 columns google-map"></div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 large-6 columns">
      <div class="form-label">When's it happening?</div>
      <input class="sanitize datepicker" type="date" name="date" ng-model="game.date" min='{{date.start}}' max='{{date.end}}' required>
    </div>
    <div class="small-12 large-6 columns">
      <div class="form-label">What time?</div>
      <input class="sanitize" type="time" name="time" ng-model="game.time" required>
    </div>
  </div>

  <div class="row"> 
    <div class="small-12 large-6 columns">
      <div class="form-label">Minimum players</div>
      <input class="sanitize" type="number" name="min" min="0" ng-model="game.min" required>
    </div>

    <div class="small-12 large-6 columns">
      <div class="form-label">Maximum players</div>
      <input class="sanitize" type="number" name="max" min="0" ng-model="game.max" required>
    </div>
  </div>

  <div class="row">    
    <div class="small-12 large-6 columns">
      <div class="form-label">Invited Players</div>
      <h1 style='color:blue;'> find players to add to the Invited Players list by inserting a name below and click find</h1>
      <input class="sanitize" type="text" ng-model="queryInput">
        
          <input class="button" type="submit" value="find" ng-click="query(queryInput)">
      <br>
      <br>
      <h1 style='color:blue;'> click on names to add to the Invited Players list</h1>

      <div ng-repeat='user in queryUser | filter' ng-click='addToInvitePlayer(user)'>
        <h2> Name: {{user.display_name}} / Email: {{user.email}}</h2> 
      </div>
      <h1 style='color:blue;'> Invited Players list </h1>
      <div ng-repeat='user in gameInfo.playerArray' ng-click='removeFromInvitePlayer($index)'> 
        <h2> Name: {{user.display_name}} / Email: {{user.email}}</h2>
      </div>
    
    </div>
  </div>
  
  <div class="row">
    <input class="button teal medium join-this-game listagame" type="submit" value="submit" ng-click="submitTheForm(game.name, game.type, game.desc, game.date, game.time, game.min, game.max, game.invite)" required>
  </div>
</form>
