<form class="open-recess-form">
  <div class="row">
    <div class="small-12 large-6 columns">
        <div class="form-label">Please Login</div>
        </br>
        <div class="form-label">Email:</div><input type="text" name="email" ng-model="userInfo.email">
        <div class="form-label">Password:</div><input type="password" name="password" ng-model="userInfo.password" required>
        <input class="button teal medium join-this-game" type="submit" value="submit" ng-click="submitTheForm(userInfo.email, userInfo.password)" required>
      <div class="form-label">{{response}}</div>
      <a class="form-label" ui-sref="signup">Create an account</a>
    </div>
  </div>
</form>
