<div class="row">
  <div class="small-12 columns">
    <h1 class="open-recess-table">Login</h1>
    </br>
    <div>
      <form>
        <span class="open-recess-table">Email : </span><input type='text' name='email' ng-model='userInfo.email'>
        <span class="open-recess-table">Password : </span><input type='password' name='password' ng-model='userInfo.password' required>
        <input type='submit' value='submit' ng-click='submitTheForm(userInfo.email, userInfo.password)' class="small-3 large-1 columns search" required>
      </form>
      <div>{{response}}</div>
      <a class="open-recess-table" ui-sref="signup">Create an account</a>
    </div>
  </div>
</div>
