<div class="row">
  <div class="small-12 columns">
      <br>
      <h1 class="mygames">My Games</h1>
      <br>
      <table class="open-recess-table my-games">
        <thead class="hide-for-small">
          <tr>
            <th class="status">Status</th>
            <th>Type</th>
            <th>Title</th>
            <th>Date & Time</th>
            <th>Confirmed Players</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="game in myUpcomingGames track by $index">
            <td class="status">
              <div class="label rounded green">Confirmed</div>
            </td>
            <td>{{game.gameType}}</td>
            <td>{{game.gameName}}</td>
            <td>{{game.gameDate | date: shortDate}} {{game.gameTime | date: shortTime}}</td>
            <td>{{game.gameType}}</td>
            <td>
              <tr ng-repeat="player in game.confirmedPlayers">
                <td>{{player.display_name}}</td>
                <td>{{player.email}}</td>
            </td>
            <td>
              <table>
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Email</th>
                  </tr>
                </thead>
              <tr ng-repeat="player in game.invitedPlayers">
                <td>{{player.display_name}}</td>
                <td>{{player.email}}</td>
              </table>
            </td>
            <td>{{game.playerLimit}}</td>
            <td>{{game.minimumPlayers}}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
