<div class="row">
  <div class="small-12 columns">
      <table class="open-recess-table my-games">
        <thead class="hide-for-small">
          <tr>
            <th class="status">Game</th>
            <th>Description</th>
            <th>Game Type</th>
            <th>Date & Time</th>
            <th>Confirmed Players</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat='game in myUpcomingGames track by $index' ng-click='showDetails = !showDetails'>
            <td>{{game.gameName}}</td> 
            <td>{{game.gameDescription}}</td> 
            <td>{{game.gameType}}</td> 
            <td>{{game.gameTime | date: h:mma}} </br> {{game.gameDate | date: yyyy-MM-dd}}</td>
            <td>{{game.confirmedPlayers}}</td>


            <!-- apr15 need managers to be shown -->
            <td ng-show='showDetails'>msg: {{game.messages}} max: {{game.playerLimit}} min: {{game.minimumPlayers}} </td>

          </tr>
        </tbody>
      </table>
    </div>
</div>
