<div>
  <h1>myGames view</h1>
    <div>
      <span>{{response}}</span>
      <h3 ng-click='show=!show'>My Upcoming Games</h3>
      <ul ng-repeat='game in myUpcomingGames track by $index'  ng-hide='show'>
        <li>
          {{game.gameName}} {{game.gameDescription}} {{game.gameType}} {{game.gameTime}} {{game.gameDate}}
        </li>
      </ul>
    </div>
    <div>
      <h3 ng-click='show=!show'>My Played Games</h3>
      <ul ng-repeat='game in myPlayedGames track by $index'  ng-hide='!show'>
        <li>
          {{game}}
        </li>
      </ul>
    </div>
</div>
