<div class="row game-detail">
  <div class="small-12 columns">
    <leaflet markers="markers"></leaflet>
    <img src="/img/sample-290x290.jpg" alt="#" />
    <div class="primary-info row">
      <h2 class="hide-for-small">{{game.gameType}}</h2>
      <h1>Game details for {{game.gameName}}</h1>
      <div><span class="hide-for-medium hide-for-large hide-for-xlarge"></span>{{game.gameDate | date: shortDate}} {{game.gameTime | date: shortTime}}</div> 
      </br>
      <div class="button-group">
        <a class="button teal medium join-this-game" ng-click="joinGame()">Join this game!</a>
        <div class="settings-holder">
          <ul class="button grey medium settings">
            <li class="icon">&#9881;</li>
            <li class="settings-container">
              <ul>
                <li><a href="#"><span>D</span> Message Gamers</a></li>
                <li class="selected"><a href="#"><span>r</span> Notification Prefs (TODO)</a></li>
                <li><a href="#"><span>D</span> Cancel Game (TODO)</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <span>{{response}}</span>
      <a class="form-label" ui-sref="myGames">See your games</a>
      <div class="description">
        <p>{{game.gameDescription}}</p>
      </div>
    </div>
    
    <div class="row">
      <div class="players">
        <h1>{{game.confirmedPlayers.length}} Joined · {{game.playersNeeded}} Players needed</h1>
        <div class="player-list">
          <div class="player" ng-repeat="player in game.confirmedPlayers">{{player.display_name}} / {{player.email}}</div>
        </div>
      </div>
    </div>

    <div class="comments">
      <form class="comment-form">
        <h1>Leave a Comment (TODO)</h1>
        <textarea class="comment-entry" rows="4" cols="50"></textarea>
        <div class="functions">
          <div class="alert-me">
            <input class="checkbox" type="checkbox" />
            <span>Alert me when someone posts a comment (TODO)</span>
          </div>
          <input type="submit" class="button teal medium" value="Post">
        </div>
      </form>
    </div>
  </div>
</div>
