<div>
  <h1>seeGame view</h1>
  <button ng-click="joinGame()">Join This Game!</button>
  <span>{{response}}</span>
  <table>
      <thead>
        Games selected and to be joined
        <tr>
          <th ng-repeat='header in headers'>{{ header }}
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat='games in game'>
        <td>{{ games.gameName }}</td>
        <td>{{ games.gameType }}</td>
        <td>{{ games.gameDescription }}</td>
        <td>{{ games.gameDate | date:'yyyy-MM-dd' }}</td>
        <td>{{ games.gameTime }}</td>
        <td>{{ games.minimumPlayers }}</td>
        <td>{{ games.playerLimit }}</td>
        <td>{{ games.invitedPlayers }}</td>
        </tr>
      </tbody>
      </table>
</div>
