
// SAMPLE /////////////////////////////////////////////////////////////////////

	// .sample-class {@include clearfix;} //Sample of how to do clearfix using Zurb Foundation


/////// http://www.network-science.de/ascii/ // Style: doom //////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////
// 	_____ _   _   ___  ______ ___________ 
// /  ___| | | | / _ \ | ___ \  ___|  _  \
// \ `--.| |_| |/ /_\ \| |_/ / |__ | | | |
 // `--. \  _  ||  _  ||    /|  __|| | | |
// /\__/ / | | || | | || |\ \| |___| |/ / 
// \____/\_| |_/\_| |_/\_| \_\____/|___/  
//
/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////

#outer-wrap {
	position: relative;
	overflow: hidden;
	width: 100%;
}

#inner-wrap {
	position: relative;
	width: 100%;
}

.row {padding:0 10px}

/////// START NAV BAR /////////////////////////////////////////////////////////////////////

.block {
	position: relative;
	margin: 0 auto;
	padding: 1.5em 1.25em;
	max-width: 60em;
}

.close-btn {
	display: block;
	width: 2.625em;
	height: 2.25em;
	padding: 0;
	border: 0;
	outline: none;
	background: #333333 url("../img/close-btn.svg") left center no-repeat;
	background-size: 1.875em 1.875em;
	overflow: hidden;
	white-space: nowrap;
	text-indent: 100%;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.no-svg .close-btn {
	background-image: url("../img/close-btn.png");
}
.close-btn:focus, .close-btn:hover {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}

.nav-btn {
	display: block;
	width: 2.625em;
	height: 2.25em;
	padding: 0;
	border: 0;
	outline: none;
	background-size: 1.875em 1.5em;
	overflow: hidden;
	white-space: nowrap;
	text-indent: 100%;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	opacity: 1;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.no-svg .nav-btn {
	background-image: url("../img/nav-icon-1.png");
}
.nav-btn:hover, .nav-btn:focus {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}

#nav {
	z-index: 200;
	position: relative;
	overflow: hidden;
	width: 100%;
	color: #fff;
	.close-btn {display: none;}
	.block-title {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
	.block {
		z-index: 2;
		position: relative; 
		padding: 0.75em 1.25em; 
	}
	ul {
		*zoom: 1;
		display: block;
	}
	li {
		display: block;
		a {
			display: block;
			color: white;
			outline: none;
			&:focus, &:hover {
				color: #fff;
			}
		}
		.is-active a {
			color: #fff;
		}
	}
}

#top {
	z-index: 100;
	position: relative;
	color: #fff;
	.block-title {
		margin: 0;
		line-height: 1.2em;
		text-align: center;
		white-space: nowrap;
	}
	.nav-btn {
		position: absolute;
		top: 1em;
		left: em-calc(20);
	}
}

/////// END NAV BAR /////////////////////////////////////////////////////////////////////






/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////
// ______ _____ _____ _   _______ ___________
// |  _  \  ___/  ___| | / /_   _|  _  | ___ \
// | | | | |__ \ `--.| |/ /  | | | | | | |_/ /
// | | | |  __| `--. \    \  | | | | | |  __/ 
// | |/ /| |___/\__/ / |\  \ | | \ \_/ / |    
// |___/ \____/\____/\_| \_/ \_/  \___/\_|    
//
/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////

@include media(desktop) {
	
	#outer-wrap {  // Overrides default behavior of nav slider
		overflow: visible;
	} 

	.row {  // To keep desktop width fixed
		width:$row-width !important
	}

/////// START NAV BAR /////////////////////////////////////////////////////////////////////

	#top {
		display:none
	}
	#top .nav-btn {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}

	#nav {
		.close-btn {
			border: 0;
			clip: rect(0 0 0 0);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
	 }
	 .block {
	 		padding:0; @include clearfix
	 	}
	 .block-title {
			border: 0;
			clip: rect(0 0 0 0);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
		}
		h1 {
			color:white;
			float: left; 
			margin:0;
				& a {
					color:white
				}
		}
		ul {
			position:absolute; 
			bottom:0; 
			right:0; 
			margin:0
		}
		li {
			display: inline-block;
			a {
				color:white; 
				padding-left: em-calc(30)
			}
		}
	}

/////// END NAV BAR /////////////////////////////////////////////////////////////////////


}

/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////
// ___  ______________ _____ _      _____ 
// |  \/  |  _  | ___ \_   _| |    |  ___|
// | .  . | | | | |_/ / | | | |    | |__  
// | |\/| | | | | ___ \ | | | |    |  __| 
// | |  | \ \_/ / |_/ /_| |_| |____| |___ 
// \_|  |_/\___/\____/ \___/\_____/\____/
//
/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////


@include media(mobile) {

	#top {
		.block-title {
			color:white
		}
	}

	#nav {
		position: absolute; 
		top: 0;
	 	h1 {
	 		display:none
	 	}
	 	&:not(:target) {
	 		z-index: 1;
	 		height: 0;
	 	}
	 	&:target .close-btn {
	 		display: block;
	 	}
		.close-btn {
			display: none; // Disabled close icon
			position: absolute; 
			top: -3.75em; 
			left: 1.875em;
		}
		.block {
			position: relative; 
			padding: 0;
		}
		li {
			position: relative; 
			border-top: 1px solid rgba(255, 255, 255, 0.1);
			&:last-child {
				border-bottom: 1px solid rgba(255, 255, 255, 0.1);
			}
			&.is-active:after {
				z-index: 50;
				display: block;
				content: "";
				position: absolute;
				top: 50%;
				right: -0.03125em;
				margin-top: -0.625em;
				border-top: 0.625em transparent solid;
				border-bottom: 0.625em transparent solid;
				border-right: 0.625em white solid;
			}
			a {
				padding: 0.85714em 2.14286em;
			}
		}
	}

	.js-ready {
		#nav {
			height: 100%;
			width: 70%;
			left: -70%;
			background: #333333;
			-webkit-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
			-moz-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
			box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
			.block {
				background: transparent;
			}
			.close-btn {
				display: block; 
				filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); 
				opacity: 0.7;
				&:focus, .js-ready #nav .close-btn:hover {
					filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
					opacity: 1;
				}
			}
		}
		#inner-wrap {
			left: 0;
		}
	}
 
	.js-nav {
		#inner-wrap {
			left: 70%;
		}
	}

	.csstransforms3d.csstransitions.js-ready #nav {
		left: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		-moz-transform: translate3d(-100%, 0, 0);
		-ms-transform: translate3d(-100%, 0, 0);
		-o-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		-o-backface-visibility: hidden;
		backface-visibility: hidden;
	}
	.csstransforms3d.csstransitions.js-ready #inner-wrap {
		left: 0 !important;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		-webkit-transition: -webkit-transform 500ms ease;
		-moz-transition: -moz-transform 500ms ease;
		-o-transition: -o-transform 500ms ease;
		transition: transform 500ms ease;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		-o-backface-visibility: hidden;
		backface-visibility: hidden;
	}
	.csstransforms3d.csstransitions.js-nav #inner-wrap {
		-webkit-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
		-moz-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
		-ms-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
		-o-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
		transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
	}
}

// RETINA SHARED STYLES /////////////////////////////////////////////////////////////////////

@include retina {
		
		//Retina styles here (sample below)
		//	.sample-class {background:url('../img/performa-logo@2x.png'); background-size:209px auto}
		
	}